body{
  min-width: 400px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.tableContainer{
  height: 180px;
  overflow-y: auto;
  width: 100%;
}

.copyright{
  align-items: flex-end;
}
  .copyright img{
    max-width: 90px;
    float: right;
  } 